*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.db
db/
test_db/
media/*
settings.py
__pycache__
*.pyc
!/static/**
/static/**
!/static/js/**
!/static/css/**
!/static/site-images/**