  * {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  body, html {

    background-color: #FFFFFF;

    font-family: Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    background: #0057b9;
    border-radius: 36px 0px 0px 0px;
  }
  
#main-page {
    position: relative; /*This allows the 0 positioned footer to stick to the bottom of the site*/
    height: 100%; 
}
 

a:link, a:visited, a:hover, a:active {
    text-decoration-line: none;
    text-decoration: none;/* IExplorer Fix */
    color:inherit;
}




 
#header {
    height: 60px;
    background: #0057b9;
    position: relative;
    width: 100%;
    border-bottom: 5px solid #0057b9;
    background-image: url(/static/site-images/header_bg.png);
    background-repeat-y: no-repeat;
    background-position-y: top;
    background-repeat: repeat-x; /* IExplorer Fix */
    border-top: 5px solid #5959c7;
}
}
   
   
#header .logo-parent{
    width: 30%;
    height: 100%;
    position: relative;
    left: 0em;
    float: left;
}
   
   
#header .main-logo {
    font-size: 3.4em;
    letter-spacing: -4px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 1em;
    top: 17%;
    font-family: "Arial";
}
   
#header .sub-logo {
    color: white;
    letter-spacing: 0px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: 43%;
    left: 12.5em;
    font-size: .9em;
    width: 17em;
}

#header .img-logo{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0.5em;
    top: 1.18em;
}        



#header .menu {
    float: right;
    width: 45%;
    height: 39px;
    display: flex;
    margin-right: 10%;
    top: 33px;
    position: relative;
}

#header .menu div{
    color: white;
    flex: 1;
    font-size: 1.2em;
    font-weight: bold;
    height: 30px;
    top: 4px;
    position: relative;
    text-transform: lowercase;
    font-family: "Arial", sans-serif;
    letter-spacing: -1px;
}

#header .menu a{
    color: white;
    flex: 1;
    font-size: 1.2em;
    font-weight: bold;
    height: 30px;
    top: 4px;
    position: relative;
    text-transform: lowercase;
    font-family: "Arial", sans-serif;
    letter-spacing: -1px;
}

#header .menu a:hover{
    color:rgba(0, 161, 255,1);
}

.update {
    margin: 0 auto;
    background: #5959c7;
    width: 60%;
    margin-top: 2%;
    min-height: 60px;
    color: white;
    border-radius: 6px 6px 40px 40px;
    font-weight: bold;
    font-size: 1.5em;
    }
    
   
.login-access {
    position: absolute;
    right: 0em;
    top: 0em;
    z-index: 10;
    font-size: 0.7em;
    background: #5959c7;
    width: 6em;
    height: 2em;
    border-radius: 0px 0px 0px 16px;
    border-left: 4px solid #00a1ff;
    border-bottom: 4px solid #0057b9;
}
    
.login-access a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    padding: .3em 0px 0px 1em;
}

.login-access img{
    width:16px;
    height:16px;
}
    



#main{
    display: flex;
    min-height: calc(100% - 150px);
    background: url(/static/site-images/main_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em 2em 0em 2em;
    background-position: 10% 50%;
    background-attachment: fixed;
}


#main .info{
    flex: 2;
    height: fit-content;
}


#main .info .about  {
    background: rgba(0, 88, 181, 0.83);
    padding: 1em;
    border-radius: 8px;
    color: white;
    text-align-last: justify;
    text-align: justify;
    letter-spacing: -1px;
    font-weight: bold;
    border: 4px solid rgba(89, 89, 199, 0.47);
    width: calc(100% - 8px - 2em);
    margin-bottom: 4%;
}

#main .info a {
    display:flex;
}

#main .info a:hover {
    background: #0079d9;
    border-radius: 4px;
}


#main .info .icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    border: 2px solid white;
    border-radius: 12px;
    margin-right: 3%;
}

#main .info .geospatial-engine {
    background: rgba(0, 88, 181, 0.83);
    border-radius: 8px;
    border: 4px solid rgba(89, 89, 199, 0.47);
    margin-bottom: 1em;
}

#main .info span {
    color: white;
    font-size: 2em;
    display: flex;
}

#main .info  span div:nth-child(1){
    font-weight: bold;
    letter-spacing: -3px;
    font-size: .8em;
    line-height: 1.7em;
    margin-right: 1%;   
}


#main .info span div:nth-child(2){
    letter-spacing: -3px;
    font-weight: bold;
    font-family: arial;
    line-height: 1.35em;
}


#main .info  span div:nth-child(3){
    letter-spacing: -3px;
    margin-left: 4%;
    font-size: .8em;
    line-height: 1.7em;  
}

#main .info .geospatial-engine .icon{
    background-image: url('/static/site-images/ki_gis_icon.png');
}

#main .info .query-engine {
    background: rgba(0, 88, 181, 0.83);
    border-radius: 8px;
    border: 4px solid rgba(89, 89, 199, 0.47);
    margin-bottom: 1em;
    color: white;
}

#main .info .query-engine .icon{
    background-image: url('/static/site-images/murgu_query_icon.png');
}

#main .info .browse {
    background: rgba(0, 88, 181, 0.83);
    border-radius: 8px;
    border: 4px solid rgba(89, 89, 199, 0.47);
    color: white;  
}

#main .info .browse .icon{
    background-image: url('/static/site-images/sa_browse_icon.png');
}

#main .news{
    flex: 3;
    margin: 0 0% 0% 2%;
    background: #0057b9c7;
    background: linear-gradient(to bottom, rgba(0, 87, 185, 0.7),rgba(0, 87, 185, 0.7), rgb(0, 87, 185));
    padding: 1% 0% 3% 0%;
    border-radius: 100px 0 0 0;
}




#main .news .latest-post {
    color: white;
    position: relative;  
    margin-bottom: 5%;    
}

#main .news .latest-post .name{
position: absolute;
    top: 10%;
    left: 7%;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: -2px;
    text-shadow: 4px 1px 8px #0057b9;
    background: #0057b9a3;
    border-radius: 3px 16px 3px 16px;
    padding: 0% 2% 0% 2%;      
}

#main .news .latest-post .image{   
    height: 17em;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 8px;
    background-color: black;
    margin: 0% 0% 0% 2%;
}

#main .news .latest-post .date{
top: 22%;
    left: 7%;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: -2px;
    text-shadow: 4px 1px 8px #0057b9;
    background: #0057b9df;
    border-radius: 3px 16px 3px 16px;
    padding: 0% 2% 0% 2%;
    position: absolute;
}

#main .news .latest-post .author{
top: 22%;
    left: 43%;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: -2px;
    text-shadow: 4px 1px 8px #0057b9;
    background: #0057b9df;
    border-radius: 3px 16px 3px 16px;
    padding: 0% 2% 0% 2%;
    position: absolute;
}

#main .news .latest-post .content{
font-size: .75em;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: left;
    position: absolute;
    height: fit-content;
    background: #0057b9df;
    bottom: 9%;
    width: 84%;
    left: 7%;
    padding: 1%;
    border-radius: 10px;     
}


#main .news .recent-post {
    color: white;
    float: left;
    position: relative;
    width: 46%;
    margin: 1%;
}

#main .news .recent-post:nth-child(even) {
    border-left: 1px solid #00a1ff;   
    padding-left: 3%;
}

#main .news .recent-post .name{
    font-size: .9em;
    font-weight: bold;
    letter-spacing: -1px;
    border-radius: 3px 16px 3px 16px;
    padding: 0% 0% 0% 2%;
    width: 100%;
    text-align: left;
    color: white;
}

#main .news .recent-post .name a:hover{
    color: #000000a6;
}

#main .news .recent-post .image{   
    height: 9em;
    width: 9em;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #020701;
    border-radius: 16px;
    float: right;
}

#main .news .recent-post .date{
font-size: 0.5em;
    padding: 0% 0% 0% 2%;
    font-weight: bold;
    float: left;
    width: 100%;
    text-align: left;
    color: #00a1ff;
}

#main .news .recent-post .author{
    padding: 0% 2% 0% 2%;
    font-size: .5em;
    font-weight: bold;
    float: left;
    color: #25f6a7;
    width: 100%;
    text-align: left;
}

#main .news .recent-post .content{
width: 86%;
    font-size: .5em;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
    padding: 3%;
    float: left;
    border-bottom: 1px solid #00a1ff;
}

#main .community{
flex: 1;
    background: #0057b9c7;
    background: linear-gradient(to bottom, rgba(0, 87, 185, 0.7),rgba(0, 87, 185, 0.7), rgb(0, 87, 185));
    padding: 1%;
}

#main .community .header {
color: white;
    background: rgb(0, 161, 255);
    border-radius: 8px;
    margin-bottom: .2em;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 3px;
}

#main .community .posts {
    color: white;
    margin-bottom: .5em;
    padding-bottom: .5em;
}

#main .community .posts .post {
color: white;
    font-size: .6em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 0% 10% 2% 10%;
    border: 1px solid #00a1ff;
    border-radius: 8px;
}

#main .community .posts .post .title{
    border-bottom: 1px solid #00a1ff;    
}

#main .community .posts .post .date{
    font-style: italic;    
}


#main .community .sub-header{
    color:white;
    padding-bottom: .5em;
}

#main .community .sub-header span{
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 1.1em;
}

#main .community .changes {
    color: white;
    margin-bottom: .5em;
    padding-bottom: .5em;
}

#main .community .changes .change {
color: white;
    font-size: .6em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 0% 10% 2% 10%;
    border: 1px solid #00a1ff;
    border-radius: 8px;
}

#main .community .changes .change .title{
    border-bottom: 1px solid #00a1ff;    
}

#main .community .changes .change .date{
    font-style: italic;    
}

#main .community .tara-logo {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 1.3em;
    padding-right: 0%;
}

    
#footer {
    width: 100%;
    margin: 0 auto;
    background: #0057b9;
    height: 50px;
    position: relative;
    bottom: 0;
}

#footer .footer-logo {
    width: 20%;
    float: left;
}

#footer .footer-logo .img-logo{
    width: 40px;
    height: 40px;
    position: relative;
    top: .3em;
}

#footer .footer-logo .main-logo {
    font-size: 2.8em;
    letter-spacing: -6px;
    font-weight: bold;
    color: white;
    font-family: "Verdana";
}


#footer .branding {
    float: right;
    width: 70%;
    display: flex;
    top: 34%;
    position: relative;
}


#footer .branding span {
    text-align: right;
    color: white;
    flex: 1;
    font-size: .6em;
    font-weight: bold;
    line-height: 2.2em;
}

#footer .branding a{
color: white;
    flex: 1;
    text-align: left;
    padding-left: .2em;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: lowercase;
    text-decoration: none;
    line-height: 10px;
}

#footer .branding a img{
    height:20px;
}


