
{% extends "admin/base.html" %}
{% load staticfiles %}

{% load enki_tags %}
{% block title %}Maqlu Engine{% endblock %}


{% block branding %}<a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-certificate"></span>M<small>aqlu</small> D<small>atabase</small> E<small>ngine</small></a>{% endblock %}

{% block breadcrumbs %}                      
    {% include "maqluengine/admin_header.html" with deletable=deletable toolbar_title_code=toolbar_title_code project=project formtype=formtype form=form access_level=access_level user_access=user_access%}
{% endblock %}

{% block content %} 

    <div id="project-header" class="container-fluid">
    </div><!-- project header -->
      
    <div id="project-content" class="container-fluid">
    
        <!-- This panel is the side column for listing available form types -->
        <div id="left-pane" class="col-md-2">
            {% include "maqluengine/admin_side_bar.html" with deletable=deletable toolbar_title_code=toolbar_title_code project=project formtype=formtype form=form %}                           
        </div>
        
         
        
        <div id="center-pane" class="col-md-10">

            <div id="master-query-engine">
                <form class="query-engine" method="post">
                {% if user_access >= access_level %}{% csrf_token %}{% endif %}
                <input id="sesID" type="text" class="hidden" name='sesID' value="{{ -1|getUniqueSessionToken }}">
                 
                <div class="search-title"><div class="tool-label">Master Query Engine Search Tool</div><div class="user-query-management"><input placeholder="Enter Name of Query"></input><button class="save-query btn" type="button"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button><select class="load-query"><option value="none">None Selected</option></select></div></div>
                <div class="main-query-frame">
                    <div class="all-queries">
             
                       
                    
                    </div> <!-- End of all-queries  container -->
                    
                    <div class="query-constraints">

                        <div class="constraints-container">
                            <div class="single-constraint"></div>
                            <div class="single-constraint"></div>

                        </div>
                        <button id="add-constraint" class="btn add-constraint-btn" type="button">Add Constraint</button>
                    </div>

                    
                </div>
                <button id="add-query" class="btn add-query-btn" type="button">Add Query</button>
                <input type="submit" name="SEARCH" value="SEARCH"></input>
                </form>
            </div>
            
            
            
            
            
            
            <div id="query-stats">
                <div class='stats-header'>Query Progress and Statistics</div> 
                <div class="progress">
                    <div id="query-progress-bar" class="active progress-bar progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="min-width:2em; width:0%; white-space: nowrap;text-align:left;padding-left:10px;">0%</div>
                </div>
                <div id="info-message">
                    
                </div>
                <div id="query-graphs">
             
                </div>

            </div>
            
            <div id="all-results">
                
                
            </div>

            
            
        </div>
        
        
        
    </div>

    
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->    
<!-- ALL TEMPLATES CONTAINER (for cloning) ---------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->    

<!-- NEW TERM FOR QUERY BOX------------------------------------------------------------------------------------------------------------------------>
    <div class="new-term term-clone" style="display:none">
        <div> 
            <button class="btn btn-info delete-term" type="button"><span class="glyphicon glyphicon-remove-circle"></span></button>
            <select class="__ANDOR and-or-select">
                <option value="and">AND</option><option value="or">OR</option>
            </select>
        </div>
            
        <div><select class="rtype-list __RTYPE"></select> </div>
        <div><select class="deep-rtype-list __RTYPE-DEEP" disabled></select></div>
        
        <div class="and-or-options-select">
            <select class="__QCODE">
                <option value="0">Contains(Case Sensitive)</option>
                <option value="1">Contains</option>
                <option value="2">Matches Exact</option>
                <option value="3">Excludes</option>
                <option value="4">Is Null</option>
             </select>
        </div>
        <div>
        <input class="__TVAL" type="text">      
        </div>
    </div>

<!-- QUERY BOX ------------------------------------------------------------------------------------------------------------------------>    
    <div class="single-query single-query-clone __Q" style="display:none">
        <div class="query-project"><div>Project:</div><select class="project-list __P"><option value="none">None Selected</option></select></div>
        <div class="query-container">
            <div class="query-header"><div>Form Type</div><div>Record Type</div><div>Deep Record Type</div><div>Query Type</div><div>Search Term</div></div>
            <div class="query-terms">
                <select class="formtype-list __FT" disabled></select>
                <select class="rtype-list __RTYPE" disabled></select>
                <select class="deep-rtype-list __RTYPE-DEEP" disabled></select>
                <select class="__QCODE">
                    <option value="0">Contains(Case Sensitive)</option>
                    <option value="1">Contains</option>
                    <option value="2">Matches Exact</option>
                    <option value="3">Excludes</option>
                    <option value="4">Is Null</option>
                 </select>
                <input class="__TVAL">
            </div>
                      
        </div>
        
        <div class="and-or-container">

        </div>
        
        <button class="btn btn-info and-or-add-btn" type="button">Add Term</button>
        <button class="btn delete-query" type="button"><span class="glyphicon glyphicon-remove-circle"></span></button>
    </div>
    
<!-- CONSTRAINT INPUT ------------------------------------------------------------------------------------------------------------------------>
    <div class="project-constraint project-constraint-clone" style="display:none">
        <button class="btn del-constraint-btn" type="button" style="display:none"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <select class="__RTYPE" disabled>
                <option value="FORMID-0">Record Type</option>
         </select>

        <select class="__QCODE">
            <option value="0">Contains(Case Sensitive)</option>
            <option value="1">Contains</option>
            <option value="2">Matches Exact</option>
            <option value="3">Excludes</option>
            <option value="4">Is Null</option>
         </select>
        <input class="__TVAL" type="text" ></input>   
    </div>

 <!-- RESULTS WINDOW ------------------------------------------------------------------------------------------------------------------------>   
    <div class="project-results project-results-clone" style="display:none">
        <div class="query-pagination">
            <input class="pagination-query-json" value="" hidden="" disabled="">
            <input class="pagination-results-count" value="" hidden="" disabled="">
            <input class="pagination-results-list" value="" hidden="" disabled="">
            
            <div class="query-stats"><span class="query-title">Project Query Results</span></div>
            <div class="pagination-container" style="width: 70%;float: left;">

            </div>
        </div>
   
        <div class="view-table">
            <div class="scroll-container">
                <table class="view-table-body" class="table table-striped table-select" border="1px">
                    <tbody>
                    <!-- List of forms is generated here-->
                    </tbody>
                </table>
            </div>
            <div class="stats-graphic">
            </div>
        </div> 
                
    </div>
<!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->    
<!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
<!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->   


{% endblock %}


{% block footer %}

    <!--   
    //================================================================================================================
    //
    //  This script acts as a standarized set of functions and variables that all templates in the maqlu engine need
    //  --to access and utilize. e.g. Because these scripts access the back-end API outside of a template, I needed
    //  --a way to access the API endpoint URIs so I store a list of the URIs and pass them as a template variables
    //  --that the rest of the included javascripts can utilize. I had contemplated just adding all the javascript to
    //  --each <template>.html file within <script> tags, but that will increase the file template size, and there will
    //  --be redundant code that can't be cached, nor edited easily in the future.
    //
    //  These global variables and Endpoints should be on every main admin template page 
    //
    //  It additionally, adds a CSRF token reader for the scripts to use POST AJAX with.
    //================================================================================================================
    -->
    {% if user_access >= access_level %}   
    <script src="{% static 'js/maqlu-csrf-header.js'  %}"></script>
    <script>          
    //GLOBAL FUNCTIONS//
    function getAPIEndpoints(){
        return JSON.parse('{{api_urls|safe}}');
    }
    //GLOBALS VARIABLES//
    var RTYPE_LIST;
    var CURRENT_TEMPLATE = '{{formtype.template_json|escapejs}}';
    var CURRENT_FORM_PK = 'None';
    var CURRENT_FORMTYPE_PK = '{{formtype.pk}}'; 
    var CURRENT_PROJECT_PK = '{{project.pk}}';
    var INITIALIZATION_CODE = 0;
    var API_URLS = getAPIEndpoints();
    </script>
    {% endif %}   
    <!-- ======================================================================================================== -->
    <!-- ======================================================================================================== -->
    <!-- ======================================================================================================== -->   


    <script src="{% static 'chart/Chart.min.js'  %}"></script>     
    <script src="{% static 'js/enki-thumbnail-popup.js'  %}"></script>  
    <script src="{% static 'js/enki-form-navigation-search.js'  %}"></script>  
        
    
    
    <script>
    //
    //  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!Eventually this script below should be in its own separate .js file for caching. Will leave
    //  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!as part of the template until the main development is done on the geospatial engine
    //
    // ***************************************START OF MASTER QUERY ENGINE ******************************************* 
    //----------------------------------------------------------------------------------------------------------------
        
    function loadAllSavedUserQueries(){
        //each 'key' of the query is the query's label
        if (GLOBAL_USER_QUERIES != null){
            console.log(GLOBAL_USER_QUERIES);
            var queries = Object.keys(GLOBAL_USER_QUERIES);
            console.log(queries);
            for (key in queries){
                $('#master-query-engine .load-query').append('<option value="'+queries[key]+'">'+queries[key]+'</option>');
            }
        }
    }
    
    $('.load-query').change( function() {
        
        returnedQuery = GLOBAL_USER_QUERIES[$(this).find('option:selected').val()];
        GLOBAL_CURRENT_QUERY = JSON.parse(returnedQuery);
        console.log(GLOBAL_CURRENT_QUERY);
        $('#all-results').empty();
        for (var i=0; i < GLOBAL_CURRENT_QUERY.length; i++){
            //Create a new project query results window
            $newResultsWindow = $('.project-results-clone').clone(true);
            $newResultsWindow.show();
            $newResultsWindow.removeClass('project-results-clone');
            $('#all-results').append($newResultsWindow);
            
            var currentProject = GLOBAL_CURRENT_QUERY[i];
            
            //Setup our initial pagination
            buildPageNavigationBar(currentProject.totalResultCount, 1, currentProject.currentQuery, $newResultsWindow[0], currentProject.pagination_form_list);
            //Create the new table of the query results
            rebuildQueryResultsTable(currentProject, $newResultsWindow[0]);
            //Create Chart
            createNewChart(currentProject.query_stats,$newResultsWindow[0]);
        }
    });
    
     $('.save-query').click(function(){
        var currentQuery = GLOBAL_CURRENT_QUERY;
        console.log(currentQuery);
        if (currentQuery != "" && currentQuery != null){
            $.ajax({ url   : API_URLS['save_query_user'], type  : "POST", data  : [{name:"new_query", value: JSON.stringify(currentQuery)}, {name:"new_query_label", value:$('#master-query-engine .user-query-management input').val()}], // data to be submitted
                 success : function(returnedQuery){
                    console.log(returnedQuery);
                    }
                  
            });     
        }
    });
    
function createNewChart(jsondata, parentWindow){
    //Clear our chart space (we do this because due to the AJAX, the page does not refresh. If the user submits another query, this
    //--container needs to be cleared as a precaution.
     $(parentWindow).find('.stats-graphic').empty()


        $labels = [];
        $counts = [];
        $colors = [];
        
/*         //--------------------------------
        //For our constraints chart
        //
        
        
        //These represent the color coded bars - these are the query count 'dataset labels' -- each dataset loop grabs a title from here by index 
        //-- this should be the length of the # of queries
        $constraintDataSetLabels = [];
        
        //These represent an axis and are labeled by the constraint term -- they stay the same between each query set
        $constraintLabels = []; 
        //Fill this out by looping through the first query(there is always at least ONE so we use the origin
        //--all queries have the same labels so it won't matter which one we use
        for(c=0;c<jsondata.query_list[0].constraints.length;c++) $constraintLabels.push(jsondata.query_list[0].constraints[c].name + "\n" + jsondata.query_list[0].constraints[c].tval);

        //These represent the counts that match up with the static list of the $constraintDatasetLabels
        $constraintDataSetCounts = [];
        
        //Thesea re the matching dataset colors
        $constraintDataSetColors = [];
  */
        


    //LOOP THROUGH ALL OUR QUERY STATS
    for(q=0; q < jsondata.query_list.length; q++){
        //We're given JSON as the returned data--we need to convert that to a set of lists for the chat js to use
        $mainLabel = "";
        $currentQueryColor = 'rgba(' + (Math.floor(Math.random()*(245-115+1))+115) +','+(Math.floor(Math.random()*(245-115+1))+115)+','+(Math.floor(Math.random()*(255-225+1))+225)+', 1)';
        $thisQuery = jsondata.query_list[q];
        
       // $constraintDatasetLabel = $thisQuery.rtype_name;
        
        
        //Setup our labels and counts
        for(t=0;t<$thisQuery.all_terms.length;t++){
            $thisTerm = $thisQuery.all_terms[t];
            //Update the constraint dataset label
           // $constraintDatasetLabel += " : " + $thisTerm.TVAL ;
            $qcode = '';
            //Translate the QCODE
            if($thisTerm.QCODE == 0) $qcode = 'contains'; else if($thisTerm.QCODE == 1)$qcode = 'contains(CS)'; else if($thisTerm.QCODE == 2)$qcode = 'exactly'; else if($thisTerm.QCODE == 3)$qcode = 'excludes'; else if($thisTerm.QCODE == 4)$qcode = 'is Null'; 
            if(t == 0)$labels.push($thisQuery.rtype_name + " : "+ $qcode +" :" + $thisTerm.TVAL);
            else $labels.push($thisTerm['T-ANDOR'] + " : " + $thisQuery.rtype_name + " " + $qcode +" : '" + $thisTerm.TVAL+"'");
            $counts.push($thisTerm.count);
            if (jsondata.query_list.length == 1) $colors.push('rgba(' + (Math.floor(Math.random()*(245-115+1))+115) +','+(Math.floor(Math.random()*(245-115+1))+115)+','+(Math.floor(Math.random()*(255-225+1))+225)+', 1)');        
            else $colors.push($currentQueryColor);
        }
        
        if ($thisQuery.ANDOR == 'or' && q != jsondata.query_list.length - 1) {
            $labels.push("Count After Above Additions");
            $counts.push($thisQuery.additions);
            $colors.push('rgba(' + (Math.floor(Math.random()*(245-115+1))+115) +','+(Math.floor(Math.random()*(245-115+1))+115)+','+(Math.floor(Math.random()*(255-225+1))+225)+', 1)');        
        } else if ($thisQuery.ANDOR == 'and') {
            $labels.push("Count After Above Intersection");
            $counts.push($thisQuery.intersections);
            $colors.push('rgba(' + (Math.floor(Math.random()*(245-115+1))+115) +','+(Math.floor(Math.random()*(245-115+1))+115)+','+(Math.floor(Math.random()*(255-225+1))+225)+', 1)');        
        }
        
        //SETUP THE CONSTRAINTS BAR GRAPH
        //We need to loop through each query and find its constraint values
        //the constraint indexes should match exactly with the number of total datasets
        //Add a new dataset label
/*         $constraintDataSetLabels.push($constraintDatasetLabel);
        $constraintCounts = [];      
        for(c=0;c<$thisQuery.constraints.length;c++){
            $thisConstraint = $thisQuery.constraints[c];
            $constraintCounts.push(parseInt($thisConstraint.count));
        }
        //Now push the final list of counts if they exist
        if ($constraintCounts.length > 0){
            $constraintDataSetCounts.push($constraintCounts);
        }
        //Now add a color for the dataset
        $constraintDataSetColors.push('rgba(' + (Math.floor(Math.random()*(245-115+1))+115) +','+(Math.floor(Math.random()*(245-115+1))+115)+','+(Math.floor(Math.random()*(255-225+1))+225)+', 1)');        
        //Now we'll have a label, and a matching index of a list of counts to use in the graph
*/
    }   
    
    
    
    //-------------------------------------
    //  ADD BASIC GRAPH
    //
        //Label the data
        $mainLabel = jsondata.formtype + " Query ";
        //Add a total count if there is atleast one query with atleast 2 terms
        if(jsondata.query_list.length > 1 || jsondata.query_list[0].all_terms.length > 1){
            $labels.push("Total Count of Matches");
            $counts.push(jsondata.count);
            $colors.push('rgba(' + (Math.floor(Math.random()*(245-115+1))+115) +','+(Math.floor(Math.random()*(245-115+1))+115)+','+(Math.floor(Math.random()*(255-225+1))+225)+', 1)');        
        }
        //Setup a blank chart
        $emptyChartParent = $('<div class="canvas-parent" style="width:100%;height:100%;"></div>');
        $emptyChart = $('<canvas id="myChart" width="100%" height="100%"></canvas>');
        $emptyChartParent.append($emptyChart);
        

                  
                        
        var myBarChart = new Chart( $emptyChart, {
            type: 'horizontalBar',
            data: {
                    labels: $labels,
                    datasets: [{
                        data: $counts,
                        backgroundColor: $colors,
                        label: $mainLabel,
                        }]
                    },
            legend: {
                display: false
            },
            options: {
                title:{display: false},
                barDatasetSpacing : 10,
                barValueSpacing : 10,
                responsive: true,
                maintainAspectRatio: false,
                scales: {

                    yAxes: [{
                        categoryPercentage: 1.0,
                        barPercentage: 1.0,
                        
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
            });
            
        //Finally, add the chart to the query graphs container
         $(parentWindow).find('.stats-graphic').append($emptyChartParent);
        
}
   
    function buildPageNavigationBar(numOfResults, currentPage, currentQueryJson, currentResultsWindow, pagination_form_list){
        $currentResultsWindow = $(currentResultsWindow);
        
        console.log('Is it working?*****************************');
        var resultsPerPage = 25;
        
        //add our queryjson to the hidden pagination input
        $currentResultsWindow.find('.pagination-query-json').val(currentQueryJson);
        $currentResultsWindow.find('.pagination-results-count').val(numOfResults)
        $currentResultsWindow.find('.pagination-results-list').val(pagination_form_list);
        $paginationParent = $currentResultsWindow.find('.query-pagination .pagination-container');
        console.log($paginationParent);
        //show our container
        $paginationParent.show();
        
        //Clear our container
        $paginationParent.empty();
        
        //setup the vars for the first/previous page buttons
        var first = 1; //This will always be 1
        console.log("I'm losing my f**** mind. What is : " + currentPage);
        if (currentPage == "ALL"){
            var previous = 1;
            var last = 1;
            var next = 1;
        } else {
            var previous = parseInt(currentPage) - 1;
            //if the prveious page is less than 1, e.g. if the current page is one, then set it to 1
            if (previous < 1) previous = 1;
        
            //setup the vars for the next/last page buttons
            var last = Math.ceil(numOfResults / resultsPerPage);//This is just chopping the remainder off our quotient to get our final page
            var next = parseInt(currentPage) + 1;
            if(next > last) next = last;
        }
        //setup our results option div
        $paginationParent.append($('<button class="btn see-all-results" type="button" title="Load All Results" page="ALL" onclick="requestNewPageFromServer(this)"><span class="glyphicon glyphicon-eye-open"></span></button>'))
        
        //Now add all of our pagination buttons
        
        $paginationParent.append($('<button class="btn page-control" type="button" page="'+first+'" onclick="requestNewPageFromServer(this)"><span class="glyphicon glyphicon-step-backward"></button></span>'));
        $paginationParent.append($('<button class="btn page-control" type="button" page="'+previous+'" onclick="requestNewPageFromServer(this)"><span class="glyphicon glyphicon-backward"></button></span>'));

        //setup 4 previous page buttons 
        for(i = 4; i > 0;i--){
            var pageNum;
            if (currentPage == "ALL") pageNum = 1;
            else pageNum = parseInt(currentPage) - i;
            //If the page number is less than 1--make an empty div with ...'s
            if (pageNum < 1 || currentPage =="ALL") $paginationParent.append($('<div class="page-button-empty">. . .</div>'));
            //else make a proper page number button with a working link etc.
            else $paginationParent.append($('<button class="btn page-button" type="button" page="'+pageNum+'" onclick="requestNewPageFromServer(this)">'+pageNum+'</button>'));
        }
        
        // Create the empty current page DIV
        $paginationParent.append($('<div class="page-button current-page">'+currentPage+'</div>'))
        
         //setup 4 next page buttons 
        for(i = 1; i < 5;i++){
            var pageNum;
            if (currentPage == "ALL") pageNum = 1;
            else pageNum = parseInt(currentPage) + i;
            //If the page number is less than 1--make an empty div with ...'s
            if (pageNum > last || currentPage =="ALL") $paginationParent.append($('<div class="page-button-empty">. . .</div>'));
            //else make a proper page number button with a working link etc.
            else $paginationParent.append($('<button class="btn page-button" type="button" page="'+pageNum+'" onclick="requestNewPageFromServer(this)">'+pageNum+'</button>'));
        }       
        
        //Finally, append the last two next/last buttons
        $paginationParent.append($('<button class="btn page-control" type="button" page="'+next+'" onclick="requestNewPageFromServer(this)"><span class="glyphicon glyphicon-forward"></button></span>'));        
        $paginationParent.append($('<button class="btn page-control" type="button" page="'+last+'" onclick="requestNewPageFromServer(this)"><span class="glyphicon glyphicon-step-forward"></button></span>'));
        
        //setup our stats div
        $paginationParent.append($('<div class="stats">'+last+' pages<br>'+numOfResults+' results</div>'))
    }

    function requestNewPageFromServer(currentButton){
        var pageNumber = $(currentButton).attr('page');
        $currentParentWindow = $(currentButton).parent().parent().parent();
        var queryToResend = $currentParentWindow.find('.pagination-query-json').val();
        var numOfResults =  $currentParentWindow.find('.pagination-results-count').val();
            
        formData = [];
        progress_uuid=gen_uuid()
        formData.push({name: 'uuid', value: progress_uuid});
        formData.push({name: 'currentQueryJSON', value: queryToResend});
        formData.push({name: 'requestedPageNumber', value: pageNumber});
        formData.push({name: 'resultsPerPage', value: '25'});
        formData.push({name: 'numberOfResults', value: numOfResults});
        formData.push({name: 'form_list', value: $currentParentWindow.find('.pagination-results-list').val() });
        formData.push({name: 'formtype_id', value: $currentParentWindow.find('.query-stats').attr('formtype_pk')});
        formData.push({name: 'project_id', value: $currentParentWindow.find('.query-stats').attr('project_pk')});
        
        showBusyGraphic($('#view-table'));
        
        $.ajax({ 
             url   : API_URLS['run_master_query_pagination'],
             type  : "POST",
             data  : formData, // data to be submitted
             success : function(returnedQuery)
             {
                console.log(returnedQuery);
                
                
                var $progressBar = $('#query-progress-bar');
                $progressBar.addClass('progress-bar-success');
                $progressBar.removeClass('progress-bar-striped');
                $progressBar.css('width', 100+'%');
                $progressBar.html(100+'% -- Database Import Finished');
                $progressBar.attr('aria-valuenow', 100); 
                $currentParentWindow.find('.view-table-body').children().first().empty();
                //Setup our initial pagination
                buildPageNavigationBar(returnedQuery.resultsCount, returnedQuery.pagination_page, returnedQuery.currentQuery, $currentParentWindow, returnedQuery.pagination_form_list);
                //Create the new table of the query results
                rebuildQueryResultsTable(returnedQuery, $currentParentWindow);
                //remove busy indicator
                removeBusyGraphic();

             },
                // handle a successful response
                done : function(json) {
                  
                    console.log("!!!!!!!!!!!!!!!!"); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                fail : function(xhr,errmsg,err) {
                    $('#info-message').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
        });
        alreadyHaveStats = true;
        
        queryFinishedFasterThanAJAXCall = false
        //Start our progress check
        //window.setTimeout(update_progress_info, freq);
    }
    
    function rebuildQueryResultsTable(results, currentResultsParent){
        $currentResultsParent = $(currentResultsParent);
        
        $currentResultsParent.find('.query-stats').attr('formtype_pk', results.formtype_pk);
        $currentResultsParent.find('.query-stats').attr('project_pk', results.project_pk);
        
        //Setup the necessary DOM variables
        $queryTable = $currentResultsParent.find('.view-table-body').children().first();
        //Build the header
        console.log($currentResultsParent);
        console.log(results);
        var $headerRow = $('<tr class="header-row"></tr>');
        $queryTable.append($headerRow);
        $headerRow.append('<td>Preview</td>');
        $headerRow.append('<td>' + results.formtype + '</td>');
        for(i = 0; i < results.rtype_header.length;i++) {
            value = results.rtype_header[i].name;
            if(results.rtype_header[i].rtype == 'frat')$headerRow.append('<td title="'+value+'"><div><span>'+value+'</span></div></td>');    
            else $headerRow.append('<td title="'+value+'"><div><span>'+value+'</span></div></td>');    
        }
        //build the individual form rows and append them to the newly cleared table
        for(row=0; row < results.form_list.length;row++){
            var $newRow = $('<tr></tr>');
            var $currentForm = results.form_list[row];
            $queryTable.append($newRow);
            //Now add all the relevant columns ofinformation
            //Add the thumbnail link
            //First see if it's a 'NO Preview" -- if it is, then add the IMG-404 class--we don't want to show it as a big pop up
            if($currentForm.thumbnail_URI.search('no-thumb-missing.png') != -1 ){
                $newRow.append('<td><a href="#"><img class="enki-img-popup IMG-404" src="' + $currentForm.thumbnail_URI +'"></img></a></td>');
            //Otherwise add it as normal
            }else{
                $newRow.append('<td><img class="enki-img-popup" src="' + $currentForm.thumbnail_URI +'" onError="this.onerror=null;this.src=\'{% static 'site-images/no-thumb-missing.png'%}\';this.classList.add(\'IMG-404\');"></img></td>');
            }       
            //Add the form id link
            $newRow.append('<td style=""><a href="http://'+ document.location.hostname +'/admin/project/' + results.project_pk +'/formtype/' + results.formtype_pk + '/form_editor/' + $currentForm.pk + '/">' + results.formtype +': ' + $currentForm.form_id + '</a></td>');
            //now add each individual column from the query results
            for(col=0; col < $currentForm.rvals.length;col++){
               $thisRval = $currentForm.rvals[col];
               //If we're working with a FRAT (Form Record Attribute Value) or a 'frrv-ext' value then just display the text
               if($thisRval.rtype != "frrv"){
                   if($thisRval.value.length < 40){$newRow.append('<td><div><span class="frav_view" {% if user_access >= access_level %} onclick="editIndividualRecord(this)" {% endif %} >'+ $thisRval.value.replace(/,/g, ",&nbsp;") +'</span>{% if user_access >= access_level %}<textarea form="find-replace-form" class="frav_edit" name="frav__'+$thisRval.pk+'" oninput="flagTextareaAsChanged(this)" style="display:none"  disabled>'+ $thisRval.value.replace(/,/g, ",&nbsp;") +'</textarea>{% endif %} </div></td>');}
                   else{$newRow.append('<td><div style="overflow-y:scroll;"><span class="frav_view" {% if user_access >= access_level %} onclick="editIndividualRecord(this)" {% endif %} >'+ $thisRval.value.replace(/,/g, ",&nbsp;") +'</span>{% if user_access >= access_level %}<textarea form="find-replace-form" class="frav_edit" name="frav__'+$thisRval.pk+'" oninput="flagTextareaAsChanged(this)" style="display:none"  disabled>'+ $thisRval.value.replace(/,/g, ",&nbsp;") +'</textarea>{% endif %}</div></td>');}
               //Otherwise we are dealing with a FRAV   reference type, and we need to parse out the list of names and make them links
               } else {
                   var FRRVlist = $thisRval.value.split("^,^");
                   var parsedHTML = ""; 
                   for(i=0; i<FRRVlist.length;i++){parsedHTML+='<a class="relation-link" href="http://'+ document.location.hostname +'/admin/project/' + results.project_pk +'/formtype/' + FRRVlist[i].split("|^|")[1] + '/form_editor/' + FRRVlist[i].split("|^|")[2] + '/">' + FRRVlist[i].split("|^|")[0] + '</a>';}
                   $newRow.append('<td>' + parsedHTML + '</td>');
               }
            }
        }
        
        
        //Activate the iamge popup for the thumbnails
        //--This will require the enki-thumbnail-popup.js to be included on this page
        updateImagePopup();
    }        
    
    
// Generate 32 char random uuid 
function gen_uuid() {
    var uuid = ""
    for (var i=0; i < 32; i++) {
        uuid += Math.floor(Math.random() * 16).toString(16); 
    }
    return uuid
} 
    $('#master-query-engine .query-engine').submit( function(e){

        e.preventDefault(); // Keep the form from submitting
        querydata = convertQueryToJSON();
        $.ajax({ url   : API_URLS['run_master_query_engine'], type  : "POST", data  : [{name:"master_query", value:querydata}, {name: 'uuid', value: gen_uuid()}], // data to be submitted
             success : function(returnedQuery){
                console.log(returnedQuery);
                GLOBAL_CURRENT_QUERY = returnedQuery;
                $('#all-results').empty();
                for (var i=0; i < returnedQuery.length; i++){
                    //Create a new project query results window
                    $newResultsWindow = $('.project-results-clone').clone(true);
                    $newResultsWindow.show();
                    $newResultsWindow.removeClass('project-results-clone');
                    $('#all-results').append($newResultsWindow);
                    
                    var currentProject = returnedQuery[i];
                    
                    //Setup our initial pagination
                    buildPageNavigationBar(currentProject.totalResultCount, 1, currentProject.currentQuery, $newResultsWindow[0], currentProject.pagination_form_list);
                    //Create the new table of the query results
                    rebuildQueryResultsTable(currentProject, $newResultsWindow[0]);
                    //Create Chart
                    createNewChart(currentProject.query_stats,$newResultsWindow[0]);
                }
              }
        });
    });
 
    function convertQueryToJSON(){
        var masterQuery = {}
        var queryList = []
        var constraintList = []
        masterQuery['query_list'] = queryList;
        masterQuery['constraint_list'] = constraintList;
        
        //Load all the project queries
        $('#master-query-engine .all-queries').children().each( function() {
                $currentQuery = $(this);
                var projectQuery = {};
                console.log(this);
                console.log('Trying to query now!');
                //Setup our initial query values
                projectQuery['project_pk'] = $currentQuery.find('.query-project select').val();
                projectQuery['project_label'] = $currentQuery.find('.query-project select option:selected').text();
                projectQuery['formtype_pk'] = $currentQuery.find('.query-terms .formtype-list').val();
                projectQuery['formtype_label'] = $currentQuery.find('.query-terms .formtype-list option:selected').text();
                
                //Now let's store all the query information. The first query term will be in the 'query-terms' div, and then we'll
                //  --loop through the and-or-container div to grab the rest of the terms
                allTerms = [];
                projectQuery['terms'] = allTerms;
                initialTerm = {};
                initialTerm['RTYPE'] = $currentQuery.find('.query-terms .rtype-list').val().split('__')[1];
                initialTerm['QCODE'] = $currentQuery.find('.query-terms .__QCODE').val();
                initialTerm['TVAL'] = $currentQuery.find('.query-terms .__TVAL').val();
                initialTerm['LABEL'] = $currentQuery.find('.query-terms .rtype-list option:selected').text();
                initialTerm['pk'] = $currentQuery.find('.query-terms .rtype-list').val().split('__')[0];
                initialTerm['ANDOR'] = 'INITIAL';
                if (initialTerm['RTYPE'] == "FRRT"){
                    console.log($currentQuery.find('.deep-rtype-list option:selected').val());
                    initialTerm['RTYPE-DEEP'] = $currentQuery.find('.deep-rtype-list option:selected').val();
                }
                allTerms.push(initialTerm);
                //Loop through the rest of the query terms if there are any
                $currentQuery.find('.and-or-container').children().each( function() {
                    $currentTerm = $(this);
                    newTerm = {};
                    newTerm['RTYPE'] = $currentTerm.find('.rtype-list').val().split('__')[1];
                    newTerm['QCODE'] = $currentTerm.find('.__QCODE').val();
                    newTerm['TVAL'] = $currentTerm.find('.__TVAL').val();
                    newTerm['LABEL'] = $currentTerm.find('.rtype-list option:selected').text();
                    newTerm['pk'] = $currentTerm.find('.rtype-list').val().split('__')[0];
                    newTerm['ANDOR'] = $currentTerm.find('.__ANDOR').val();
                    if (newTerm['RTYPE'] == "FRRT"){
                        console.log($currentTerm.find('.deep-rtype-list option:selected').val());
                        newTerm['RTYPE-DEEP'] = $currentTerm.find('.deep-rtype-list option:selected').val();
                    }
                    allTerms.push(newTerm);
                });
            queryList.push(projectQuery);
        });
        
        console.log(masterQuery);
        return JSON.stringify(masterQuery);
        
    }
 
    $('.delete-query').click( function(){
        if ( $(this).parent().parent().children().length > 1){
            $(this).parent().remove();
            var currentQueryID = $(this).parent().attr('queryid');
            $('.constraints-container').find('[queryid="'+currentQueryID+'"]').remove();
            adjustConstraintHeight();
        }  
    });
 
    $('.and-or-add-btn').click(function(){
        $newTerm = $('.term-clone').clone();
        $newTerm.show();
        $newTerm.removeClass('term-clone');
        console.log(this);
        $(this).parent().find('.and-or-container').append($newTerm);  
        adjustConstraintHeight();
        //Let's replace the __RTYPE select with the one that already exists
        $parent = $(this).parent().find('.and-or-container .__RTYPE').parent();
        console.log($parent);
        $parent.empty();
        console.log($(this).parent().find('.query-container .__RTYPE'));
        $parent.append( $(this).parent().find('.query-container .__RTYPE').clone(true) );
        $newTerm.find('.delete-term').click( function(){
            $(this).parent().parent().remove();
            adjustConstraintHeight();
        });
        
    });
    
    function adjustConstraintHeight(){
        //first set the constraints container to the height of the query div
        $('.constraints-container').height($('.all-queries').height());
        //Loop through each project query and look for its matching constraints and adjust their positions collectively
        $('.all-queries').children().each( function(){
            $('.constraints-container').find('[queryID="'+$(this).attr('queryID')+'"]').css('top',$(this).position().top);
        
        });
    
    }

    var queryCounter = 0;
    
    $('#add-query').click( function(){addNewProjectQuery()});


    function addNewProjectQuery(){
        $newQuery = $('.single-query-clone').clone(true);
        var randomColor = "rgb("+Math.floor((Math.random() * 255) + 50)+","+Math.floor((Math.random() * 255) + 50)+","+Math.floor((Math.random() * 255) + 50)+")";
        $newQuery.css('border-color', randomColor);
        $newQuery.removeClass('single-query-clone');
        $newQuery.attr('queryID', queryCounter);
        $newQuery.show();
        console.log(this);
        $('.all-queries').append($newQuery);  
        //Now let's add a matching constraint if necessary
        var elementsToShift = [];
        $('.constraints-container').children().each( function(){
            $newConstraint = $('.project-constraint-clone').clone(true);
            $newConstraint.css('border-color', randomColor);
            $newConstraint.removeClass('project-constraint-clone');
            $newConstraint.attr('queryID', queryCounter);
            $newConstraint.show();
            $(this).append($newConstraint);
            elementsToShift.push($newConstraint);
        });
        queryCounter++;
        adjustConstraintHeight();
        //Load the Projects
        $.ajax({ url   : API_URLS['get_projects'], type  : "POST", data  : [], // data to be submitted
             success : function(returnedQuery){
                console.log(returnedQuery);
                //First add the projects to the list when finished
                for (var i = 0; i < returnedQuery.project_list.length; i++){
                    $newQuery.find('.project-list').append('<option value="'+returnedQuery.project_list[i].pk+'">'+returnedQuery.project_list[i].name+'</option>');
                }
             }
        });
        
        //Next, add the onchange listener for the select, so that it starts the ajax request to populate the form types for the selected project
        $newQuery.find('.project-list').change( function(){
            $formtype_select = $(this).parent().parent().find('.formtype-list');
            $formtype_select.empty();
            $formtype_select.prop('disabled', true);
            $rtype_select = $(this).parent().parent().find('.rtype-list');
            $rtype_select.prop('disabled', true);
            $rtype_select.empty();
            //Only do an ajax request IF they've selected an actual project, otherwise disable the formtype select
            if ($(this).val() != "none"){
                //Load the FormTypes
                $.ajax({ url   : API_URLS['get_formtypes'], type  : "POST", data  : [{name:"project_pk", value:$(this).val()}], // data to be submitted
                     success : function(returnedQuery){
                        console.log(returnedQuery);
                        //First add the formtypes to the list when finished
                        for (var i = 0; i < returnedQuery.formtype_list.length; i++){
                            $formtype_select.append('<option value="'+returnedQuery.formtype_list[i].pk+'">'+returnedQuery.formtype_list[i].name+'</option>');
                        }
                        //Now enabled the select box
                        $formtype_select.prop('disabled', false);
                     }
                });
            } else {
                
            }
        });
        
        //Next, add the onchange listener for the formtype select, so that it starts the ajax request to populate the rtypes for the selected project
        $newQuery.find('.formtype-list').change( function(){
            $rtype_select = $(this).parent().parent().find('.rtype-list');
            $rtype_select.prop('disabled', true);
            $rtype_select.empty();
            $currentQuery = $(this).parent().parent();
            var currentID = $(this).parent().parent().parent().attr('queryid');
            //Only do an ajax request IF they've selected an actual project, otherwise disable the formtype select and reset it to empty
            if ($(this).val() != "none"){
                //Load the FormTypes
                $.ajax({ url   : API_URLS['get_rtypes'], type  : "POST", data  : [{name:"formtype_pk", value:$(this).val()}], // data to be submitted
                     success : function(returnedQuery){
                        console.log(returnedQuery);
                        //First add the projects to the list when finished
                        for (var i = 0; i < returnedQuery.rtype_list.length; i++){
                            $rtype_select.append('<option value="'+returnedQuery.rtype_list[i].pk+'__'+returnedQuery.rtype_list[i].rtype+'">'+returnedQuery.rtype_list[i].label+'</option>');
                        }
                        //now enabled the select box
                        $rtype_select.prop('disabled', false);
                        //Let's replace all the  __RTYPE selects in the and-or-term container
                        $allTermRtypes = $currentQuery.find('.and-or-container .new-term').each( function() {
                            $currentRtype = $(this).find('.__RTYPE');
                            console.log($currentRtype);
                            $parentRtype = $currentRtype.parent();
                            $currentRtype.remove();
                            $parentRtype.append($currentQuery.find('.query-terms .__RTYPE').clone(true));
                        });                        
                        //Let's replace the __RTYPE selects in the constraint containers with the one that already exists in the parent query
                        $allContraintsRtypes = $('.constraints-container [queryid="'+ currentID + '"] .__RTYPE').each( function() {
                            $rtypeParent = $(this).parent();
                            $(this).remove();
                            $rtypeParent.prepend($rtype_select.clone(true));
                        });
                     }
                });
            } else {

            }

            
            
        });
        
        //Next, add the onchange listener for the rtype select, so that it starts the ajax request to populate the deep rtypes for the selected frrt -- if an frrt
        $newQuery.find('.rtype-list').change( function(){   

            $deep_rtype_select = $(this).parent().parent().find('.deep-rtype-list');
            $deep_rtype_select.prop('disabled', true);
            $deep_rtype_select.empty();
            $currentQuery = $(this).parent().parent();
            var currentID = $(this).parent().parent().parent().attr('queryid');
            var frrtToLookup = $(this).find(":selected").val().split('__');
            var formtype_label = $(this).find('option:selected').text();
            if (frrtToLookup[1] == "FRRT") {
                
                if ($(this).find(":selected").val() != "none"){
                    //Load the FormTypes
                    $.ajax({ url   :  API_URLS['get_rtypes'], type  : "POST", data  : [{name:"frrt-pk", value: frrtToLookup[0]}], // data to be submitted
                         success : function(returnedQuery){
                            console.log(returnedQuery);
                            $deep_rtype_select.append('<option value="0__FORMID">'+formtype_label+' ID</option>');
                            //First add the projects to the list when finished
                            for (var i = 0; i < returnedQuery.rtype_list.length; i++){
                                $deep_rtype_select.append('<option value="'+returnedQuery.rtype_list[i].pk+'__'+returnedQuery.rtype_list[i].rtype+'">'+formtype_label + ' :: ' +returnedQuery.rtype_list[i].label+'</option>');
                            }
                            //now enabled the select box
                            $deep_rtype_select.prop('disabled', false);
                            //Let's replace all the  __RTYPE-DEEP selects in the and-or-term container
                            $allTermRtypes = $currentQuery.find('.and-or-container .new-term').each( function() {
                                $currentRtype = $(this).find('.__RTYPE-DEEP');
                                console.log($currentRtype);
                                $parentRtype = $currentRtype.parent();
                                $currentRtype.remove();
                                $parentRtype.append($currentQuery.find('.query-terms .__RTYPE').clone(true));
                            });                        

                         }
                    });
                }
            }
        });
    }


     
    function showBusyGraphic(elementToCover){
        $busyIndicator = $('<div id="busy-indicator"><img src="{% static 'site-images/busy-indicator.gif' %}"></img></div>');
        $(elementToCover).append($busyIndicator);
    }
    
    function removeBusyGraphic(){
        $('#busy-indicator').remove();
    }
    
    
    
  
    $(document).ready(function() { 
        addNewProjectQuery();
        loadAllSavedUserQueries();
    });
    if ( 0 == 1)
    $(document).ready(function() { 

    vanillaQuery = '{"query_list":{"query_1":{"LABEL":"Object ID","RTYPE":"FORMID-0","Q-ANDOR":"NULL","TERMS":[{"T-ANDOR":"NULL","QCODE":"0","TVAL":""}]}},"constraint_list":{"constraint_1":{"LABEL":"Object ID","RTYPE":"FORMID-0","QCODE":"0","TVAL":""}}}';
    
    formData = [];
    progress_uuid=gen_uuid()
    formData.push({name: 'uuid', value: progress_uuid});
    formData.push({name: 'query', value: vanillaQuery});
    formData.push({name: 'formtype_id', value: CURRENT_FORMTYPE_PK});
    formData.push({name: 'project_id', value: CURRENT_PROJECT_PK});
    
    showBusyGraphic($('#view-table'));
    
    $.ajax({ 
         url   : API_URLS['run_formtype_query_engine'],
         type  : "POST",
         data  : formData, // data to be submitted
         success : function(returnedQuery)
         {
            console.log(returnedQuery);
            queryFinishedFasterThanAJAXCall = true;
            
            var $progressBar = $('#query-progress-bar');
            $progressBar.addClass('progress-bar-success');
            $progressBar.removeClass('progress-bar-striped');
            $progressBar.css('width', 100+'%');
            $progressBar.html(100+'% -- Database Import Finished');
            $progressBar.attr('aria-valuenow', 100); 
            $('#view-table-body').children().first().empty();
            //Setup our initial pagination
            buildPageNavigationBar(returnedQuery.totalResultCount, 1, returnedQuery.currentQuery);
            //Create the new table of the query results
            rebuildQueryResultsTable(returnedQuery);
            
            removeBusyGraphic();

         },
            // handle a successful response
            done : function(json) {
              
                console.log("!!!!!!!!!!!!!!!!"); // log the returned json to the console
                console.log("success"); // another sanity check
            },

            // handle a non-successful response
            fail : function(xhr,errmsg,err) {
                $('#info-message').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
    });

    alreadyHaveStats = true;
    
    //Start our progress check
    window.setTimeout(update_progress_info, freq);
    
    
    });
    // ***************************************END OF MASTER QUERY ENGINE ******************************************* 
    //----------------------------------------------------------------------------------------------------------------
    </script>    
{% endblock %}
