{% extends "public_frontend/tara_base.html" %}



{% block content %}
<div class="main">

{% include "public_frontend/tara_subheader.html" %}

    <div class="main-content">
 <div style="
    background: #0057b9bf;
    width: 70%;
    margin: auto;
    margin-top: 10%;
    height: 40em;
    border-radius: 40px;
    border: 8px solid #8fffdca1;
"> <p style="
    padding-top: 20%;
    color: white;
    font-weight: bold;
    font-size: 4em;
"> Coming Soon!</p> <p style="
    color: white;
    font-weight: bold;
    font-size: 2em;
">A faceted based browsing method for searching and viewing the publicly available data!</p> </div>
    </div>
</div>
{% endblock %}