    <div id="sub-header"> 
        <div class="geospatial-engine">
            <a href="{% url 'maqluengine:geoengine' %}">
                
                <span>
                    <div class="icon"></div><div>ki</div><div>GIS</div><div> engine</div>
                </span>
            </a>
        </div>
        <div class="query-engine">
            <a href="{% url 'maqluengine:queryengine' %}"><span><div class="icon"></div><div>QUERY</div><div></div><div>engine</div></span></a>
        </div>
        <div class="browse">
            <a href="{% url 'maqluengine:browseengine' %}"><span><div class="icon"></div><div>BROWSE</div><div></div><div>data</div></span></a>
        </div>
    </div>